# Ignore large data files
*.csv

# Ignore python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/
env/

# Ignore IDE settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
Data_processing.py
